// 全局 SCSS 变量

// 颜色
$primary-color: #409EFF;
$success-color: #67C23A;
$warning-color: #E6A23C;
$danger-color: #F56C6C;
$info-color: #909399;

// 侧边栏
$sideBarWidth: 240px;
$sideBarCollapsedWidth: 64px;

// 顶部导航栏
$navBarHeight: 50px;

// 标签视图
$tagsViewHeight: 34px;

// 动画
$transitionDuration: 0.3s;

